<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/
app.css') }}" />
<title>My Website - About</title>
<link rel="icon" type="image/x-icon" href="LD.png">
</head>
<body>
<h1>Leanna Dehaney</h1>
<img src="{{url_for('static', filename='Mypic.jpg')}}"/>
<p>My name is Leanna Dehaney. I am a 4th year student. 
    Everyone can agree that I am a music fanatic and that I like spend my time zoned out to my favoutite songs.
     My favorite genres are pop, R&B and EDM. I am trying to do my best in school because my goal is to become a 
     respected professional</p>
</body>
</html>